[submodule "libraries/ByteArray"]
	path = libraries/ByteArray
	url = https://github.com/Megaxela/ByteArray.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
